:root {
	--textBlack: #2a2a2a;
	--black: #000000;
	--white: #ffffff;
}

.content-wrapper {
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	background-image: url(../images/bg-pexels_jeffrey_czum_2120084.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

/* Custom nav style */
.navbar-brand {
	font-size: 42px;
	font-weight: bold;
	font-family: 'Bebas Neue', sans-serif;
	background-color: var(--white) !important;
	padding: 10px 20px;
}

/* applied when it's in collapse */
#navbarNav {
	text-align: right;
}

.popup-wrapper:hover + .popup,
.popup-wrapper:focus + .popup {
	display: block;
}

/* HERO section */
header.hero-wrapper {
	position: relative;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 100px;
	color: white;
	background: url('../images/key_visual02-pexels-henry-&-co-1464474.jpeg');
	background-position: center;
	background-size: cover;
}

header.hero-wrapper .header-content {
	max-width: 500px;
	margin-bottom: 100px;
	text-align: center;
}

header.hero-wrapper .header-content h1 {
	font-size: 30px;
}
header.hero-wrapper .header-content h1 span {
	font-size: 45px;
	font-weight: bold;
	font-family: 'Bebas Neue', sans-serif;
}

header.hero-wrapper .header-content h2 span {
	color: var(--textBlack);
	font-weight: bold;
	background-color: var(--white);
}

header.hero-wrapper .device-container {
	max-width: 325px;
	margin-right: auto;
	margin-left: auto;
}

header.hero-wrapper .device-container .screen img {
	border-radius: 3px;
}
