:root {
	--textBlack: #2a2a2a;
	--black: #000000;
	--white: #ffffff;
	--bgColor: #ede5e3;
}

.body {
	background-color: var(--bgColor);
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bebas Neue', sans-serif;
}

h5 {
	font-size: 24px;
}

.content-wrapper {
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	background-image: url(../images/bg-pexels_jeffrey_czum_2120084.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
}

/* Custom nav style */
.navbar-brand {
	font-size: 42px;
	font-weight: bold;
	background-color: var(--white) !important;
	padding: 10px 20px;
}

/* applied when it's in collapse */
#navbarNav {
	text-align: right;
}

.popup-wrapper:hover + .popup,
.popup-wrapper:focus + .popup {
	display: block;
}

/* HERO section */
header.hero-wrapper {
	position: relative;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 100px;
	color: white;
	background: url('../images/key_visual02-pexels-henry-&-co-1464474.jpeg');
	background-position: center;
	background-size: cover;
}

header.hero-wrapper .header-content {
	max-width: 500px;
	margin-bottom: 100px;
	text-align: center;
}

header.hero-wrapper .header-content h1 {
	font-size: 30px;
}
header.hero-wrapper .header-content h1 span {
	font-size: 45px;
	font-weight: bold;
	font-family: 'Bebas Neue', sans-serif;
}

header.hero-wrapper .header-content h2 span {
	color: var(--textBlack);
	font-weight: bold;
	background-color: var(--white);
}

header.hero-wrapper .device-container {
	max-width: 325px;
	margin-right: auto;
	margin-left: auto;
}

header.hero-wrapper .device-container .screen img {
	border-radius: 3px;
}

/* Work section */
.card-pic-wrapper {
	max-height: 250px;
	position: relative;
	overflow: hidden;
}

.card {
	border: 1px solid var(--textBlack);
	min-height: 450px;
}

.card-title {
	font-weight: bold;
}

article .work-link img {
	transition: transform 0.1s;
}
article .work-link:hover .card {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.8);
	background-color: rgba(255, 255, 255, 0.15);
}
article .work-link:hover img {
	transform: scale(1.1);
}

article .maintenance {
	cursor: not-allowed;
}

/* Skills section */
.custom-card-height {
	min-height: 200px;
}

.custom-overlay {
	background: rgba(0, 0, 0, 0.5);
}
